<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajax_laod</title>
    <script src="/static/js/jquery-1.11.3.min.js"></script>
</head>

<body>
    {% csrf_token %}
    <button id="btnLoad">加载百度</button>
    <div id="baidu"></div>
    <script>
        $(function () {
            $('#btnLoad').click(function () {

                var params = {
                    uname: 'maria',
                    uage: 30,
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                }

                $('#baidu').load('/ajax/server/', params, function () {
                    window.setTimeout(() => {
                        $("#baidu").hide(3000);
                    }, 5000);
                })
            })
        })
    </script>
</body>

</html>
