<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>books_list</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
        <style>
            .text-center {
                text-align: center;
            }

            ul {
                list-style: none;
            }

            .container {
                margin: auto;
                width: 500px;
                height: 100%;
            }

            html,
            body {
                height: 100%;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <ul>
                <li><a href="/bookstore">back</a></li>
            </ul>
            <table>
                <tr>
                    <th>ID</th>
                    <th>书名</th>
                    <th>出版社</th>
                    <th>定价</th>
                    <th>零售价</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
                {% for abook in page %}
                <tr>
                    <td>{{ abook.id }}</td>
                    <td>{{ abook.title }}</td>
                    <td>{{ abook.pub }}</td>
                    <td>{{ abook.price }}</td>
                    <td>{{ abook.market_price }}</td>
                    <td><a href="/bookstore/mod/{{ abook.id }}">修改</a></td>
                    <td><a href="/bookstore/del/{{ abook.id }}">删除</a></td>
                </tr>
                {% endfor %}
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li
                        class="page-item{% if page.has_previous %}{% else %} disabled{% endif %}"
                    >
                        <a
                            class="page-link"
                            href="{{ url 'book' }}?page={% if page.has_previous %}{{page.previous_page_number}}{% else %}{% endif %}"
                            aria-label="Previous"
                        >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for p in p_range %}
                    <li
                        class="page-item{% if p == page.number %} disabled{% else %}{% endif %}"
                    >
                        <a
                            class="page-link"
                            href="{{ url 'book' }}?page={{ p }}"
                            >{{ p }}</a
                        >
                    </li>
                    {% endfor %}
                    <li
                        class="page-item{% if page.has_next %}{% else %} disabled{% endif %}"
                    >
                        <a
                            class="page-link"
                            href="{{ url 'book' }}?page={% if page.has_next %}{{page.next_page_number}}{% else %}{% endif %}"
                            aria-label="Next"
                        >
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
