<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_book</title>
    <style>
        form {
            margin: auto;
            width: 200px;
        }

    </style>
</head>

<body>
    <h3 style="text-align: center;">booooooookstore</h3>
    <hr>
    <form action="/bookstore/add" method="POST">
        <div>
            <span>title: </span>
            <input type="text" name="title" required>
        </div>
        <div>
            <span>pub: </span>
            <input type="text" name="pub" required>
        </div>
        <div>
            <span>price: </span>
            <input type="text" name="price" required>
        </div>
        <div>
            <span>market_price: </span>
            <input type="text" name="market_price" required>
        </div>
        <input type="submit" value="submit">
    </form>
</body>

</html>
