<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books_homepage</title>
    <style>
        .text-center {
            text-align: center;
        }

        ul {
            padding: 0;
            margin: auto;
            width: 200px;
            height: 300px;

            list-style: none;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
        }

        html,
        body {
            height: 100%;
        }

    </style>
</head>

<body>
    <div class="container">
        <ul>
            <li><a href="/bookstore/add">add books</a></li>
            <li><a href="/bookstore/list">show books</a></li>
        </ul>
    </div>

</body>

</html>
