<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temp1</title>
    <style>
        .row1{
            background: #fafafa;
        }
        .row2{
            background: #f00;
        }
    </style>
</head>
<body>

{# <h1>this .is temp1 {{ name }}</h1> #}
<!-- dd -->
{% comment %} <ul>
    {% for i in fav %}
        {% if forloop.first %}
            <li>------------firsr------------</li>
        {% endif %}
        <li>{{ forloop.counter }} --------------- {{ i }}</li>
    {% endfor %}
</ul> {% endcomment %}
{% comment %} this .is  {% endcomment %}
<table>
    {% for i in fav %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ i }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>