#write {
  counter-reset: h1;
}

h1 {
  counter-reset: h1;
}

h2 {
  counter-reset: h2;
}

h3 {
  counter-reset: h3;
}

#write h2:before {
  counter-increment: h1;
  content: counter(h1) '. ';
}

#write h3:before {
  counter-increment: h2;
  content: counter(h1) '.' counter(h2) ' ';
}

#write h4:before,
h3.md-focus.md-heading:before {
  counter-increment: h3;
  content: counter(h1) '.' counter(h2) '.' counter(h3) ' ';
}

code {
  padding: 2px 4px;
  border: 1px solid #999;
  background: transparent;
  color: #dd0055;
}

