<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookstore</title>
    <style>
        form {
            margin: auto;
            width: 200px;
        }

    </style>
</head>

<body>
    <h1 style="text-align: center;">bookstore homepage.......</h1>
    <hr>
    <br>
    <div style="text-align: center;">
        <a href="/book/add">add page</a>
    </div>
    <!-- <h3>booooooookstore</h3>
    <form action="/book/add" method="POST">
        <div>
            <span>title: </span>
            <input type="text" name="title">
        </div>
        <div>
            <span>pub: </span>
            <input type="text" name="pub">
        </div>
        <input type="submit" value="submit">
    </form> -->
</body>

</html>
